<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnPiano"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">

        <activity
            android:name=".screens.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.main.ContainerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.piano.MusicListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.piano.StylePianoActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.piano.TwoPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".screens.piano.DoubleKeyActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".screens.piano.PianoActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen">

        </activity>
        <activity
            android:name=".screens.language.LanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.record.RecordViActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.guitar.GuitarActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".screens.theme.ThemeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.drum.DrumsetActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.FullScreen" />
        <activity
            android:name=".screens.main.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">

        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.musical.instrument.simulator.app.contentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>

</manifest>